/* html {
    --colour-green: #00a693;
    --colour-red: #c81d11;
    --colour-blue: #1c39bb;
    --colour-indigo: #32127a;
    --colour-pink: #f77fbe;
} */
@import 'fonts.css';

body {
    font-family: 'BalooThambi2';
    max-height: 100vh;
    max-height: -webkit-fill-available;
    font-size: 14px;
}

a {
    appearance: none;
}

.header {
    background: transparent;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.1);
}

.expander {
    z-index: 2;
}

.expander svg {
    transform: rotate(-90deg);
}

.toolbar {
    /* transform: translateX(-100%);
    transition: transform 0.3s ease-out; */
    opacity: 0;

    overflow-y: auto;
    scrollbar-width: none;
    top: 1.75em;
    left: 0.75em;
    position: absolute;
    max-height: 90vh;
    background: rgba(255,255,255,.25);
}

@media (min-width: 768px) {
    .toolbar {
        backdrop-filter: blur(10px);
    }
}

.toolbar::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

.toolbar.open {
    /* transform: translateX(0); */
    opacity: 1;
}

.randomiser-text {
    margin: 0;
    line-height: 1;
    animation: opAnim 2s infinite;
}

@keyframes opAnim {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

input[type='range'] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 24px;
    cursor: pointer;
    outline: none;
    border-color: rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 40px; /* iOS */
}

input[type='range']::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.1);
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 20px;
    background: white;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1), -100vw 0 0 calc(100vw - 10px) #fff;
    /* border: 3px solid #fff; 1 */
    border-radius: 50%;
}

input[type='range']::-moz-range-track {
    height: 20px;
    background: rgba(0,0,0,0.1);
}

input[type='range']::-moz-range-thumb {
    background: white;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50% !important;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1), -100vw 0 0 calc(100vw - 10px) #fff;
    box-sizing: border-box;
}

input[type='range']::-moz-range-progress {
    background: #fff;
}

input[type='range']::-ms-fill-lower {
    background: #fff;
}

input[type='range']::-ms-fill-upper {
    background: rgba(0,0,0,0.1);
}

input[type='range']::-ms-thumb {
    background: #fff;
    /* border: 3px solid #999; */
    height: 20px;
    width: 20px;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1), -100vw 0 0 calc(100vw - 10px) #fff;
    box-sizing: border-box;
}

input[type='range']::-ms-ticks-after {
    display: none;
}

input[type='range']::-ms-ticks-before {
    display: none;
}

input[type='range']::-ms-track {
    background: #fff;
    color: transparent;
    height: 20px;
    border: none;
}

input[type='range']::-ms-tooltip {
    display: none;
}

input[type='color'] {
    margin: 3px;
    -webkit-appearance: none;
    outline: none;
    padding: 0;
    border: none;
    border-radius: 12px;
    width: 24px;
    height: 24px;
}
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 12px;
    padding: 0;
}
input[type='color']::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 12px;
    padding: 0;
}

.fscreen-icon svg path {
    mix-blend-mode: difference;
}